*{
    width: 100%;
}

header {
    text-align: center;
}

.row {
    height:120px;
}

.col-1 {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

img {
    height: 78px;
    object-fit: contain;
}

textarea {
    resize: none;
    height: 100%;
    border: none;
    background-color: #00000000;
}